    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding-top: 100px;
    }

    .footer div {
      width: 30%;
      text-align: center;
    }

    .footer div::before {
      content: '';
      display: block;
      border-top: 1px solid black;
      margin-bottom: 5px;
    }

    .text-left {
      text-align: right;
      margin-top: 50px;
    }

    .image-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .image-container img {
      max-width: 100%;
      height: auto;
    }

    #pdfButton {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #pdfButton:hover {
      background-color: #45a049;
    }

    /* Configurações de impressão */
    @media print {
      #pdfButton {
        display: none;
      }

      @page {
        size: landscape; /* Formato paisagem */
        margin: 20mm;
      }
    }

/* Estilo personalizado aplicado ao botão */
#pdfButton {
  background-color: #10B981; /* Cor verde (equivalente a Tailwind: bg-green-500) */
  color: white; /* Texto branco */
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  padding: 1rem 1rem; /* Espaçamento interno (equivalente a Tailwind: py-2 px-4) */
  border-radius: 0.375rem; /* Arredondamento (equivalente a Tailwind: rounded) */
  border: none; /* Sem borda */
  cursor: pointer; /* Cursor de ponteiro */
  transition: background-color 0.2s ease, transform 0.2s ease; /* Transições suaves */
}

#pdfButton:hover {
  background-color: #059669; /* Cor verde mais escura no hover (equivalente a Tailwind: bg-green-600) */
  transform: scale(1.0); /* Leve aumento no hover */
}
